:root {
  --base-width: 100%;
  --base-text-width: 980px;
  --base-spacing: var(--uui-padding-base);
  --base-spacing-2x: 40px;
  --footer-bg: var(--uui-theme-tertiary-700);
  --footer-font-size: var(--uui-small-font-size);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Now Display', 'Arial', sans-serif;
}

#__next {
  height: 100%;
}

.app {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

nav {
  padding: var(--base-spacing);
  padding-bottom: 0;
  border-bottom: 1px solid var(--uui-theme-secondary-600);
  margin-block-end: var(--base-spacing-2x);
  height: 75px;
}

main {
  display: grid;
  justify-content: center;
}

.main__container {
  width: var(--base-width);
  padding: var(--base-spacing);
}

.text {
  max-width: var(--base-text-width);
}

.content div {
  margin-block-end: var(--base-spacing-2x);
}

.browser-list {
  margin-block-start: var(--base-spacing-2x);
  margin-block-end: var(--base-spacing-2x);
  display: grid;
  gap: var(--base-spacing);
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.browser-card {
  display: flex;
  gap: var(--base-spacing);
  align-items: center;
}

footer {
  grid-row-start: 3;
  grid-row-end: 4;
  min-height: 80px;
  background-color: var(--footer-bg);
  font-size: var(--footer-font-size);
  padding: var(--base-spacing);
  display: grid;
}

.footer__container {
  width: var(--base-width);
  display: flex;
  flex-wrap: wrap;
  gap: var(--base-spacing);
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: flex;
  gap: var(--base-spacing);
  align-items: center;
}

.footer__language-links {
  display: flex;
  gap: 10px;
}
